/* button.css */

.button {
    user-select: none;
    width: 210px;
    height: 45px;
    border: none;
    color: var(--text-reverse-color);
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    background: var(--button-bg);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 10px 2.5px var(--button-bg);
}

.button:active {
    background-color: var(--button-active-bg);
    box-shadow: 0 0 15px 5px var(--button-bg);
}