/* sidebar.css */

.sidebar {
    width: 20vw;
    height: inherit;
    background-color: var(--sidebar-bg);
    user-select: none;
    box-shadow: 0 0 5px 1px var(--box-shadow);
    padding: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li a strong {
    font-size: 18px;
    font-weight: 500;
}

.sidebar nav ul li a strong:hover {
    font-weight: 700;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: var(--dark-text);
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    font-weight: 500;
    color: var(--less-intense-text);
}

.sidebar nav ul li a:hover img{
    width: 15px;
    height: 15px;
}