/* page-style-for-sidebar.css */

.page-container-for-sidebar {
    display: flex;
    user-select: none;
    min-height: 100vh;
    overflow-x: hidden;

}

.page-container-for-sidebar .page-content {
    flex: 1;
    padding: 20px;
}

.page-content h3 {
    margin: 0;
    text-align: center;
}