/* theme.css */

body.light-theme {
    /* общие стили */
    --text-color: #000000;
    --dark-text: #333;
    --text-reverse-color: #fff;

    --darker-bg: #f9f9f9;
    --bg-color: #ffffff;

    --box-shadow: #ccccccdb;
    --border-color: #ddd;
    --border-color-focus: #bababa; 

    /* выделение текста */
    --selection-bg: #222;
    --selection-text: #fff;
    
    /* стиль таблицы */
    --table-header-bg: #f2f2f2;
    
    /* стиль кнопки */
    --button-bg: #000;
    --button-active-bg: #2b2b2b;
    
    /* боковое меню */
    --sidebar-bg: #f4f4f4;
    --less-intense-text: #111;

    /* стиль календаря */
    --calendar-today-bg: #8492a0;
    --calendar-header-bg: #111;
    --calendar-other-tasks-bg: #b9a3cf;
    --calendar-off-date-bg: #ddd;

    /* стиль строк ввода и выбора */
    --input-bg: #fff;

    /* стиль комментариев */
    --comment-text: #444;
    --comment-lighter-text: #777;

    /* стиль канбан-доски */
    --kanban-border: #bbb;
    --kanban-bg: #f4f4f4;
    --kanban-taskcard-bg: #dbdbdb;
    --kanban-taskcard-text: #424242;

    /* фоновые картинки */
    --bg-img: url("./light_wall.jpg");
    --start-page-bg-img: url("./start-page-light-wall.jpg");
}
  
body.dark-theme {
    /* общие стили */
    --text-color: #f0f0f0;
    --dark-text: #bbbbbb;
    --text-reverse-color: #000;
    
    --darker-bg: #202020;
    --bg-color: #2c2c2c;

    --box-shadow: #484848db;
    --border-color: #4b4b4b;
    --border-color-focus: #414141;
    
    /* выделение текста */
    --selection-bg: #ddd;
    --selection-text: #2c2c2c;

    /* стиль таблицы */
    --table-header-bg: #202020;

    /* стиль кнопки */
    --button-bg: #979797;
    --button-active-bg: #ddd;

    /* боковое меню */
    --sidebar-bg: #202020;
    --less-intense-text: #eee;

    /* стиль календаря */
    --calendar-today-bg: #7d91ad;
    --calendar-header-bg: #eee;
    --calendar-other-tasks-bg: #104880;
    --calendar-off-date-bg: #2c2c2c;
    
    /* стиль строк ввода и выбора */
    --input-bg: #2c2c2c;

    /* стиль комментариев */
    --comment-text: #ccc;
    --comment-lighter-text: #777;

    /* стиль канбан-доски */
    --kanban-border: #222;
    --kanban-bg: #4d4d4d;
    --kanban-taskcard-bg: #161616;
    --kanban-taskcard-text: #ccc;

    /* фоновые картинки */
    --bg-img: url("./dark_wall.jpg");
    --start-page-bg-img: url("./start-page-dark-wall.jpg");
}
  
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

input, textarea, select {
    background-color: var(--input-bg);
    color: var(--text-color);
}

input:disabled {
    background-color: var(--darker-bg);
}

