/* theme.css */

body.light-theme {
    --selection-bg: #222;
    --selection-text: #fff;
    --bg-color: #ffffff;
    --darker-bg: #f9f9f9;
    --border-color: #ddd;
    --table-header-bg: #f2f2f2;
    --text-color: #000000;
    --box-shadow: #ccccccdb;
    --dark-text: #333;
    --border-color-focus: #bababa;    
    --bg-img: url("./light_wall.jpg");
    --button-bg: #000;
    --button-active-bg: #2b2b2b;
    --text-reverse-color: #fff;
    --sidebar-bg: #f4f4f4;
    --less-intense-text: #111;
    --calendar-today-bg: #8492a0;
    --calendar-header-bg: #111;
    --calendar-other-tasks-bg: #b9a3cf;
    --calendar-off-date-bg: #ddd;
    --input-bg: #fff;
    --comment-text: #444;
    --comment-lighter-text: #777;
    --kanban-border: #bbb;
    --kanban-bg: #f4f4f4;
    --kanban-taskcard-bg: #dbdbdb;
    --kanban-taskcard-text: #424242;
    --start-page-bg-img: url("./start-page-light-wall.jpg");
}
  
body.dark-theme {
    /*общий стиль*/
    --text-color: #f0f0f0;
    --border-color: #4b4b4b;
    --bg-color: #2c2c2c;
    --selection-bg: #ddd;
    --selection-text: #2c2c2c;
    --dark-text: #bbbbbb;
    /*стиль таблицы*/
    --table-header-bg: #202020;
    /*стиль информационного контейнера details*/
    --darker-bg: #202020;
    --box-shadow: #484848db;
    --border-color-focus: #414141;
    /*стиль форм*/
    --bg-img: url("./dark_wall.jpg");
    --button-bg: #979797;
    --text-reverse-color: #000;
    --button-active-bg: #ddd;
    --sidebar-bg: #202020;
    --less-intense-text: #eee;
    /*стиль календаря*/
    --calendar-today-bg: #7d91ad;
    --calendar-header-bg: #eee;
    --calendar-other-tasks-bg: #104880;
    --calendar-off-date-bg: #2c2c2c;
    --input-bg: #2c2c2c;
    /*стиль комментариев*/
    --comment-text: #ccc;
    --comment-lighter-text: #777;
    /*стиль канбан*/
    --kanban-border: #222;
    --kanban-bg: #4d4d4d;
    --kanban-taskcard-bg: #161616;
    --kanban-taskcard-text: #ccc;

    --start-page-bg-img: url("./start-page-dark-wall.jpg");
}
  
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

input, textarea, select {
    background-color: var(--input-bg);
    color: var(--text-color);
}

input:disabled {
    background-color: var(--darker-bg);
}

