/* start-page.css */

.StartPage {
    user-select: none;
    background-image: url("./wall.jpg");
    background-size: cover;
    width: 100vw;
    height: 70vh;
    text-align: center;
    padding-top: 30vh;
}

.StartPage h1 {
    margin: 10px;
    font-size: 40px;
}

.StartPage h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 25px;
}